// The project's color set by the company.

// Color's system
$color-primary: #383838;
$color-secondary: #383838;

// Color's for the buttons
$color-warning: #fac200;
$color-info: #007bff;
$color-delete: #dc3545;
$color-danger: red;
$color-disabled: #d1d1d1;
$color-error-message: #ffe7e6;
$color-confirm: #009929;

// Color's for the text
$color-text-light: #fff;
$color-text-dark: #000;
$color-text-primary: #95949a;
$color-gray-light: #d3d3d3;
$color-gray-light-hover: #c3c3c3;
$color-gray-light-focus: #d3d3d387;

$color-gray-light: #e8e8e8;
$color-gray-light-hover: #c3c3c3;
$color-gray-light-focus: #d3d3d387;

$color-white: #ffffff;
$color-white-hover: #e8e8e8;
$color-white-focus: #ffffff87;

$color-table-header: #f8f9fa;
$color-table-header-hover: #e9ecef;

$color-black: #000000;
$color-black-hover: #202020;
$color-black-focus: #00000087;

//Color's for the background
$color-background: #ffffff;
$color-background-page: #edf3f9;
$color-background-form: white;



$color-graylight: #d3d3d3;
$color-graylight-hover: #c3c3c3;
$color-graylight-focus: #d3d3d387;

$color-graylighty: #e8e8e8;
$color-graylighty-hover: #c3c3c3;
$color-graylighty-focus: #d3d3d387;