<!-- Header -->
<header class="header-page">

    <!-- Logo -->
    <div class="logo">
        <!-- <img src="logo.jpeg" alt="Logo Mike Lanches"> -->
        <span>TCC</span>
    </div>

    <!-- NavBar Button Responsive -->
    <button class="hamburger" (click)="toggleMenu()">
        <i class="material-icons icon-header-menu">menu</i>
    </button>

    <!-- NavBar Responsive -->
    <div class="navbar-responsive" [ngStyle]="menuOpen ? { display: 'flex' } : { display: 'none' }">
        <div class="header-responsive-item">
            <a routerLink="home" routerLinkActive="active" (click)="menuOpen = false">Home</a>
        </div>

        <div class="header-responsive-item">
            <a routerLink="menu" routerLinkActive="active" (click)="menuOpen = false">Sobre</a>
        </div>

        <div class="header-responsive-item">
            <a routerLink="contact" routerLinkActive="active" (click)="menuOpen = false">Contato</a>
        </div>

    </div>

    <!-- NavBar -->
    <nav class="navbar">
        <ul>
            <li><a class="item-header" routerLink="home" routerLinkActive="active">Home</a></li>
            <li><a class="item-header" routerLink="menu" routerLinkActive="active">Sobre</a></li>
            <li><a class="item-header" routerLink="contact" routerLinkActive="active">Contato</a></li>
        </ul>
    </nav>


</header>